backports.functools-lru-cache==1.5
certifi==2018.10.15
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.3
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.6
PyYAML==3.13
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
wincertstore==0.2
